* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */

header {
    background: black;
    padding: 15px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* ABOUT SECTION */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10%;
    gap: 50px;
    min-height: 80vh;
}

.about-content {
    flex: 1;
}

.about-content h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: gray;
    line-height: 1.6;
}

.about-content button {
    padding: 12px 25px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}