header {
  background: black;
  padding: 15px 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  color: white;
}

nav div a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

nav div a:hover {
  color: orange;
}