/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* HEADER */
header {
  background-color: #111;
  padding: 15px 40px;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
nav h2 {
  color: orange;
}

/* LINKS */
nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}

nav a:hover {
  color: orange;
}

/* SERVICES SECTION */
.features {
  background: #222;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

/* TITLE */
.features h2 {
  font-size: 35px;
  margin-bottom: 25px;
  color: orange;
}

/* LIST */
.features ul {
  list-style: none;
  max-width: 600px;
  margin: auto;
}

.features li {
  background: #333;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s;
}

/* HOVER EFFECT */
.features li:hover {
  background: orange;
  color: black;
  transform: scale(1.03);
}

/* FOOTER */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav div {
    margin-top: 10px;
  }

  .features li {
    font-size: 16px;
  }
}